<%= content_tag :div, class: "clip_info", data: {clips: @mix.clips[1..-1]} do %>
<% end %>
<h1><%= @mix.name %></h1>

<iframe id="sound_vid" type="text/html" width="640" height="390"
  src=<%='https://www.youtube.com/embed/' + @mix.clips.first.url + '?controls=0&showinfo=0&rel=0&autoplay=1&enablejsapi=1&start=' + @mix.clips.first.start_time.to_s %>
  frameborder="0" allowfullscreen>
</iframe>

<% counter = 1 %>
<% @vid_array.each do |vid| %>
  <iframe id=<%='clip' + (counter.to_s) %> type="text/html" width="640" height="390"
    src=<%='https://www.youtube.com/embed/' + vid[0] + '?controls=1&showinfo=0&rel=0&autoplay=0&enablejsapi=1&start=' + vid[1].to_s %>
    frameborder="0" allowfullscreen>
  </iframe>
  <% counter += 1 %>
<% end %>
<%= javascript_include_tag("mixes.js") %>